<div>
    <h3>Register</h3>
    <form ng-submit="reg.regUser(regData)">
        <input type = "text" name = "firstname" ng-model="reg.regData.firstname" placeholder="First Name">
        <input type = "text" name = "lastname" ng-model="reg.regData.lastname" placeholder="Last Name">
        <input type = "text" name = "email" ng-model="reg.regData.email" placeholder="Email">
        <input type = "password" name = "password" ng-model="reg.regData.password" placeholder="Password">
        <input type="submit">
    </form>
</div>